{% load static %}
<hr>

<section class="showcase">
<link rel="stylesheet" href="{% static 'css/social.css' %}" type="text/css">
{% if detailed_trip_plans %}
    <div class="d-flex flex-column align-items-center wide-flex-container" style="padding-top: 40px;">
    {% for detailed_trip_plan in detailed_trip_plans %}
        <div class="card mb" style="width: 90vw; max-width: 700px;">
        {% if detailed_trip_plan.trip_plan.image %}
            <img src="{{ MEDIA_URL }}{{ detailed_trip_plan.trip_plan.image.url }}" class="card-img-top"
                 alt="{{ detailed_trip_plan.trip_plan.title }}">
        {% else %}
            <img src="https://i.ibb.co/FKrsX1r/hot-air-balloon-4095513-1280.jpg" class="card-img-top"
                 alt="Default Image">
        {% endif %}
        <div class="card-body" style="padding: 1rem;">
            <h5 class="card-title">{{ detailed_trip_plan.trip_plan.title }}</h5>
            <p class="card-text">{{ detailed_trip_plan.trip_plan.description }}</p>
        </div>
        <div class="card-footer" style="padding: 1rem;">
            <div class="d-flex justify-content-between align-items-center">
            <small class="text-muted">Trip
                to {{ detailed_trip_plan.trip_plan.destination_city }}</small>
            <small class="text-muted">{{ detailed_trip_plan.trip_plan.start_date }}
                - {{ detailed_trip_plan.trip_plan.end_date }}</small>
        </div>
        <div class="d-flex justify-content-between align-items-center mt-2">
            <form id="likeForm" action="{% url 'tripapp:like_trip_plan' detailed_trip_plan.trip_plan.id %}"
                  method="post">
                <button type="submit"
                        class="btn {% if detailed_trip_plan.liked %}btn-primary{% else %}btn-secondary{% endif %}">
                    Like
                </button>
            </form>
            {% if request.user == detailed_trip_plan.trip_plan.user %}
                <form id="deleteForm" action="{% url 'tripapp:delete_trip_plan' detailed_trip_plan.trip_plan.id %}"
                      method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            {% endif %}
            <form id="commentForm" action="{% url 'tripapp:add_comment' detailed_trip_plan.trip_plan.id %}"
                  method="post">
                <div class="input-group">
                                        <textarea class="form-control" name="comment_content" rows="2"
                                                  placeholder="Add a comment..." required></textarea>
                    <button type="submit" class="btn btn-outline-secondary">Post</button>
                </div>
            </form>
        </div>
        <hr>
        <h6>Comments:</h6>
        <div class="comments-section">
            {% for comment in detailed_trip_plan.comments %}
                <div class="card mb-2">
                    <div class="card-body">
                        <img src="
                                  
                                {% if comment.user.userprofile.picture %}{{ comment.user.userprofile.picture.url }}{% else %}{% static 'images/default_avatar.jpg' %}{% endif %}"
                             alt="{{ comment.user.username }}" class="rounded-circle" width="50"
                             height="50">

                        <p class="card-text">{{ comment.comment_content }}</p>
                        <small class="text-muted">Comment by: {{ comment.user.username }}</small>
                        <small class="text-muted">Posted
                            on: {{ comment.created_at|date:"F j, Y, g:i a" }}</small>
                    </div>
                </div>
            {% empty %}
                <p>No comments yet.</p>
            {% endfor %}
        </div>
        <div>
        </div>
    {% endfor %}
</div>
</section>
{% else %}
    <p>No trip plan here.</p>
{% endif %}
</div>
<script/>
<>
    // $(document).ready(function() {
    //   // Assuming '.wide-flex-container' is the direct parent of your posts/cards
    //   $('.wide-flex-container').infiniteScroll({
    //     // Adjust these options based on your actual implementation
    //     path: 'path-to-next-page', // The server-side URL that returns the next set of items
    //     append: '.card.mb', // The items to be appended
    //     history: false,
    //   });
    // });
    </script>
    
