{% extends 'tripapp/base.html' %}
{% load static %}

{% block title_block %}
    Add a Plan
{% endblock %}

{% block body_block %}
<p style="font-size: 18px; color: white; text-align: left;">
    <strong>TripTie: Revolutionizing Travel Planning</strong><br><br>
    Crafted by student developers at the University of Glasgow, TripTie simplifies your travel with seamless planning tools.<br>Discover, book, and share your journeys all in one place, connecting with a community of travelers. <br>Embrace adventures with TripTie—where every journey begins.
</p>




{% endblock %}

