{% extends 'tripapp/base.html' %}
{% load static %}

{% block title_Block %}
    Profile for {{ selected_user.username }}
{% endblock %}

{% block body_block %}
<link rel="stylesheet" href="{% static 'css/social.css' %}" type="text/css">
    <div class="container-lg">
        <div class="row justify-content-center">
            <div class="col-md-7 ">
                {% if user_profile.picture %}
                <div class="profile-picture">
                    <img src="{{ MEDIA_URL }}{{ user_profile.picture.url }}" class="img-fluid rounded-circle profile-picture-large" 
                    alt="{{ selected_user.username }}'s profile image"/>
                </div>                
                {% else %}
                    <div class="profile-picture">
                        <img src="{% static 'images/default_profile.jpg' %}" class="img-fluid rounded-circle"
                             alt="Placeholder image"/>
                    </div>
                {% endif %}
                <br/>
                <div>
                    <p class="profile-info">
                        <strong>Username:</strong> {{ user_profile.user.username }}<br>
                        <strong>Gender:</strong> {{ user_profile.gender }}<br>
                        <strong>Age:</strong> {{ user_profile.age }}<br>
                        <strong>Bio:</strong> {{ user_profile.bio }}<br>
                    </p>
                <br>
                <br>
                    {% if selected_user == user %}
                        <a href="{% url 'tripapp:edit_profile' username=user.username %}" class="btn-primary">Edit
                            Profile</a>
                        <a href="{% url 'tripapp:my_trip_plans' username=user.username %}" class="btn btn-secondary">My
                            Trip Plan</a>
                        <a href="{% url 'tripapp:my_likes' username=user.username %}" class="btn btn-info">My Likes</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}




