{% extends 'tripapp/base.html' %}
{% load static %}

{% block title_Block %}
    Search For Plan
{% endblock %}

{% block body_block %}
    <form method="GET" action="{% url 'tripapp:trip_plan_search' %}">
        <input type="text" name="query" placeholder="Enter your search query...">
        <button class="btn btn-primary" type="submit">Search</button>
    </form>

    <div class="container mt-4">
        {% include 'tripapp/includes/common_trip_plan_display.html' %}
    </div>
{% endblock %}
