{% extends 'tripapp/base.html' %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
<div class="header">
    <div class="container">
        <h1>Register Here</h1>
    </div>
</div>

<div class="container" style="text-align: center;">
    <form class="form-signin" role="form" method="post" action=".">
        <!-- {% csrf_token %} -->
        <h4 style="margin-bottom: 20px;">Register</h4>

        <label for="id_username" class="sr-only">Username</label>
        <input type="text" name="username" id="id_username" class="form-control" placeholder="Username" required autofocus>

        <label for="id_email" class="sr-only">Email address</label>
        <input type="email" name="email" id="id_email" class="form-control" placeholder="Email address" required>

        <label for="id_password1" class="sr-only">Password</label>
        <input type="password" name="password1" id="id_password1" class="form-control" placeholder="Password" required>

        <label for="id_password2" class="sr-only">Confirm Password</label>
        <input type="password" name="password2" id="id_password2" class="form-control" placeholder="Confirm Password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">Register</button>

        <div style="text-align: center;">
            <a href="{% url 'auth_login' %}" style="color: rgb(120, 113, 113);">Already have an account? Login here</a>
        </div>
    </form>
</div>
{% endblock %}
